body {
	font-family: 'Roboto';
	background-color: white;
	margin:0;
	padding: 0;

}

div {
	margin:0px;
	padding: 0px;
}

h2 {
	font-weight: 200;
	margin:0;
	padding: 0;
}

 input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a {
	text-decoration: none;
}

#topContainer {
	height: 90px;
	width: 100%;
	border-bottom: 1px solid #DCDCDC;
	background-color: white;
	position: fixed;
}

#sideDiv, #topicsDiv {
	display: inline-block;
}

#sideDiv {
	float: left;
	width: 33%;
	border-right: 1px solid #DCDCDC;
	height: 1000px;
	margin-top: 100px;
}

#topicsDiv {
	float: right;
	background-color: pink;
	margin-top: 100px;
}








