body {
	font-family: 'Roboto';
	background-color: white;
	margin:0;
	padding: 0;
	text-align: center;

}

html,body { 
}

div {
	margin:0px;
	padding: 0px;
}

h2 {
	font-weight: 200;
	margin:0;
	padding: 0;
}

h3 {
	font-weight: 200;
}

 input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a {
	text-decoration: none;
}

#topContainer {
	height: 90px;
	width: 100%;
	border-bottom: 1px solid #DCDCDC;
	background-color: white;
	display: block;
	left: 0px;
    margin: 0px;
    text-align: left;
}

#colorBar {
	height: 5px;
	width: 100%;
	background-color: #FEAD31
}

#title {
	line-height: 90px;
	margin-left: 7%;
	font-weight: 300;
	font-size: 30px;
}

#title, #newTopic {
	display: inline-block;
}

#newTopic {
	float: right;
	margin-right: 6%;
	color: #1582D4;
	font-size: 20px;
	font-weight: 200;
	width: 10%;
	height: 40px;
	line-height: 40px;
	margin-top: 18px;
	text-align: center; 
	border: 2.8px dashed #1582D4;
}

#searchBarInput {
	width: 70%;
	border: 4px solid #DCDCDC;
	height: 35px;
	border-radius: 10px;
	margin-top: 50px;
	text-align: center;
}

input::placeholder {
	font-size: 16px;
	font-weight: 200;
}

#topicsDiv {
	text-align: center;
	width: 100%;
	height: 100%;
	margin:auto;
}

#topicsDiv div:hover {
	cursor: pointer;
}

#topicsDiv h3 {
	line-height: 165px;
}

.containers {
	width: 100%;
	display: block;
}

.containers div {
	width: 20%;
	height: 200px;
	margin-top: 50px;
	-webkit-box-shadow: 0px 0px 15px -2px rgba(107,107,107,0.7);
	-moz-box-shadow: 0px 0px 15px -2px rgba(107,107,107,0.7);
	box-shadow: 0px 0px 15px -2px rgba(107,107,107,0.7);
	margin-left: 2%;
	margin-right: 2%;
	border-radius: 10px;
}

.topics {
	display: inline-block;
}

.topics div {
	width: 100%;
	height: 5px;
	margin:auto;
	margin-top: 0px;
}

.color0 {
	background-color: #4FC3DC;
}

.color1 {
	background-color: #FEAD31;
}

.color2 {
	background-color: #E53750;
}

#newTopicModal {
	position: fixed;
	z-index: 1;
	display: none;
	left: 0;
	width: 35%;
	height: 200px;
	background-color: white;
	margin-left: 32.5%;
	top: 100%;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 15px -2px rgba(107,107,107,0.7);
	-moz-box-shadow: 0px 0px 15px -2px rgba(107,107,107,0.7);
	box-shadow: 0px 0px 15px -2px rgba(107,107,107,0.7);
}

#newTopicModal input {
	width: 70%;
	border: 4px solid #DCDCDC;
	height: 35px;
	border-radius: 10px;
	text-align: center;
	margin-top: 50px;
}









