body {
	font-family: 'Roboto';
	background-color: white;
	margin:0;
	padding: 0;

}

html,body { 
	height:100%; 
	overflow: hidden;
}

div {
	margin:0px;
	padding: 0px;
}

h2 {
	font-weight: 200;
	margin:0;
	padding: 0;
}

h3 {
	font-weight: 200;
}

 input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a {
	text-decoration: none;
}

#topContainer {
	height: 90px;
	width: 100%;
	border-bottom: 1px solid #DCDCDC;
	background-color: white;
	position: fixed;
}

#sideDiv, #topicsDiv {
	display: inline-block;
}

#sideDiv {
	float: left;
	width: 33%;
	border-right: 1px solid #DCDCDC;
	height: 100%;
	margin-top: 100px;
}

#topicsDiv {
	text-align: center;
	margin-top: 100px;
	width: 40%;
	overflow-y: scroll;
	height: 100%;
}

#topicsDiv div:hover {
	cursor: pointer;
}

#topicsDiv div {
	height: 90px;
	background-color: #F1F1F1;
}

#topicsDiv h3 {
	line-height: 90px;
}








