body {
	font-family: 'Roboto';
	background-color: white;
	margin:0;
	padding: 0;
	text-align: center;
}

html,body { 
	text-align: center;
}

div {
	margin:0px;
	padding: 0px;
}

h2 {
	font-weight: 200;
	margin:0;
	padding: 0;
}

h3 {
	font-weight: 200;
}

 input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a {
	text-decoration: none;
}

div {
	text-align: center;
}

#centerDiv {
	text-align: center;
	width: 35%;
	height: 410px;
	-webkit-box-shadow: 0px 0px 15px -2px rgba(107,107,107,0.7);
	-moz-box-shadow: 0px 0px 15px -2px rgba(107,107,107,0.7);
	box-shadow: 0px 0px 15px -2px rgba(107,107,107,0.7);
	border-radius: 10px;
	margin: auto;
	margin-top: 14%;
}

#form {
	height: 400px;
	margin-top: 40px;
}

#usernameInput, #passwordInput, #emailInput {
	display: block;
	width: 80%;
	height: 40px;
	border: 4px solid #DCDCDC;
	border-radius: 10px;
	text-align: center;
	margin-left: 9%;
}

#usernameInput {
	margin-top: 4%;
}

#passwordInput {
	margin-top: 11%;
}

#emailInput {
	margin-top: 11%;
}

#newUser {
	color: #1582D4;
	font-size: 20px;
	font-weight: 200;
	width: 100%;
	line-height: 100px;
	height: 40px;
	margin-top: 50px;
	text-align: center; 
}

#submit {
	margin-top: 8%;
	border: 4px solid #DCDCDC;
	border-radius: 10px;
	text-align: center;
	width: 12%;
	height: 30px;
	font-size: 15px;
	margin-left: 70%;
}

#colorDiv {
	width: 100%;
	height: 8px;
	background-color: #FEAD31;
}















