body {
	font-family: 'Roboto';
	background-color: #39CBFE;
	margin:0;
	padding: 0;

}

div {
	margin:0px;
	padding: 0px;
}

h2 {
	font-weight: 200;
	margin:0;
	padding: 0;
}

.show {
	display: block;
}

#topContainer {
	height: 90px;
	background-color: white;
	padding: 0px;
	display: fixed;
}

#title {
	line-height: 90px;
	margin-left: 3.6%;
	font-weight: 400;
}

#container, #sideDiv {
	display: inline-block;
}

#sideDiv {
	width: 10%;
	height: 1000px;
	background-color: white;
	position: fixed;
	text-align: center;
}

#displayCount {
	margin-top: 40px;
	font-weight: 200;
	font-size: 18px;
}

#container {
	width: 50%;
	margin:auto;
	margin-top: 10%;
	margin-left: 25%;
	text-align: center;
}

#card {
	text-align: center;
	margin: auto;
	border: 0px solid #DCDCDC;
	border-radius: 15px;
	width: 70%;
	height: 275px;
	background-color: white;
}

#cardDisplay {
	line-height: 275px;
}

#previousCard {
	float: left;
}

#nextCard {
	float: right;
}

#previousCard, #nextCard, #flipCard {
	line-height: 50px;
}

#cardInteract {
	margin:auto;
	margin-top: 40px;
	text-align: center;
	background-color: white;
	border-radius: 15px;
	height: 50px;
	width: 57%;
}

#cardInteract button {
  height: 100%;
  border: 0px solid #DCDCDC;
  border-radius: 5px;
  background-color: white;
  font-size: 13px;
  font-weight: 200;
}

#options {
	margin:auto;
	width: 100%;
	text-align: center;
}

#options button {
	margin:auto;
	margin-top: 50px;
	border:none;
	font-weight: 200;
	font-size: 18px;
}

#suffle, #studyOppositeSide {
	display: block;
}

